<?xml version="1.0" encoding="UTF-8" standalone="no"?><entities>
	<entity>
		<entity-name>com.msayem.entity.User</entity-name>
		<entity-width>120</entity-width>
		<entity-height>186</entity-height>
		<entity-X-Coordinate>58</entity-X-Coordinate>
		<entity-Y-Coordinate>182</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>
	<entity>
		<entity-name>com.msayem.entity.Role</entity-name>
		<entity-width>120</entity-width>
		<entity-height>146</entity-height>
		<entity-X-Coordinate>371</entity-X-Coordinate>
		<entity-Y-Coordinate>202</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>
</entities>